h1 {
	color: black;
	
}

.vscode-dark.showEditorSelection .code-active-line:before {
    border-left: 3px solid rgba(128, 128, 128, 1);
}

.vscode-dark.showEditorSelection .code-line:hover:before {
    border-left: 3px solid rgba(192, 192, 192, 1);
}